<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script>
            <link rel="stylesheet" href="{{ asset('js/pourquoi.js') }}" type="text/css">

        
        </script>    
		
        
        <link rel="stylesheet" href="{{ asset('css/pourquoi.css') }}" type="text/css">
    </head>
    
    
    
         
    <div class="contenu">
        <div class="divtitre">
            <h1>
                Pourquoi se domicilier avec Sertun
                        
            </h1>
        </div>
        <div class="cards">
            <div class="card ">
                {# <img id="imageAdresse" src="{{ asset('images/printer.png') }}" class="card-img-top" alt="pas"> #}
                <div class="card-body">
                    <h5 class="card-title" id="card-title">Scan et envoie des courriers</h5>
                    {# <h3 class="card-title"></h3> #}
                    <p class="card-text" id="card-text">Recevez vos courriers en un clin d'œil</p>
                </div>
            </div>
            <div class="card ">
                {# <img id="imageAdresse" src="{{ asset('images/email.jpg') }}" class="card-img-top" alt="pas"> #}
                <div class="card-body">
                    <h5 class="card-title" id="card-title">Adresse prestigieuse</h5>
                 {# <h3 class="card-title"></h3> #}
                    <p class="card-text" id="card-text">Profitez d'une adresse commerciale de premier plan dans un emplacement stratégique.
                </p>
            {# Accueillez vos clients dans votre siège social situées dans une zone centrale accessible. #}
                </div>
            </div>
            <div class="card ">
                {# <img id="imageAdresse" src="{{ asset('images/email.jpg') }}" class="card-img-top" alt="pas"> #}
                <div class="card-body">
                    <h5 class="card-title" id="card-title">Tarif adaptable</h5>
                 {# <h3 class="card-title"></h3> #}
                <p class="card-text" id="card-text">Domiciliez-vous chez nous à partir de 
            </p>
                <p class="card-text" id="card-text"> 70 DT.Tarif flexible et ouvert à la négociation selon vos besoins .</p>
                </div>
            </div>
            
        </div>
    </div>
    
       
</html>
